# Personal notes
golang-notes.md
mynotes.md

# Environment variables
.env

# Logs
*.log

# IDE

{
    "cSpell.words": [
        "apierrors",
        "appconfig",
        "errcheck",
        "ERRORLEVEL",
        "golangci",
        "gosimple",
        "govet",
        "healthcheck",
        "ineffassign",
        "initdb",
        "isready",
        "librarydb",
        "staticcheck"
    ]
}
.vscode/*
!.vscode/settings.json
.idea/